# ignore hidden files and dirs
.*

# do not ignore .gitignore itself
!.gitignore

# do not ignore .github
!.github

# do not ignore .pre-commit-config.yaml
!.pre-commit-config.yaml

# do not ignore .dvc
!.dvc

# Ignore directories with the specified substrings
*/models/*
*/plots/*
*/test/*
*/train/*
*/data/*
*/__pycache__/

# ignore lab4 draft ipynb
lab4/lab4.ipynb
